/* Estilo general del cuerpo */  
body {  
    font-family: Arial, sans-serif;  
    background-color: #000; /* Color de fondo negro */  
    color: #fff; /* Color de texto blanco */  
}  

/* Estilo del título */  
h1 {  
    color: #fff; /* Color del texto del título en blanco */  
    margin-bottom: 20px; /* Espacio debajo del título */  
}  

/* Estilo de la barra de navegación */  
.navbar {  
    border-bottom: 2px solid #007bff; /* Línea debajo de la navbar */  
    background-color: #000; /* Fondo negro para la navbar */  
}  

/* Estilo activo de la nav-link */  
.nav-link.active {  
    font-weight: bold; /* Negrita para el item activo */  
    color: #007bff; /* Color del enlace activo */  
}  

/* Estilo del carrusel */  
.carousel-inner img {  
    border-radius: 0.5rem; /* Bordes redondeados para las imágenes */  
}  

/* Estilo de las leyendas del carrusel */  
.carousel-caption h5 {  
    font-size: 2rem; /* Tamaño de fuente para el título */  
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Sombra del texto */  
    color: #fff; /* Asegurarse de que el texto sea blanco */  
}  

.carousel-caption p {  
    font-size: 1.25rem; /* Tamaño de fuente para la descripción */  
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Sombra del texto */  
    color: #fff; /* Asegurarse de que el texto sea blanco */  
}  

/* Estilo de los controles del carrusel */  
.carousel-control-prev-icon,  
.carousel-control-next-icon {  
    background-color: rgba(255, 255, 255, 0.5); /* Fondo semi-transparente blanco para mejores contrastes */  
}   